$brandRed    : #A84B5D;
$brandYellow : #F6EFA6;
$brandBlack  : #2E2F2F;
$brandBlue   : #759FBC;

$color-breakfast : #E66771;
$color-brunch : #E97451;
$color-lunch : #FD5E53;
$color-fruit : #FF9999;

$box-radius : 5px;
$tabletSize  : 1000px;
$inputBoxSpace : 30px;

.form-grid {
    display: grid;
    grid-gap: $inputBoxSpace;
    grid-template-columns: auto auto auto auto;
    margin: $inputBoxSpace;

    @media (max-width: $tabletSize){
        grid-template-columns: auto;
    }

    label{
        color: $brandRed;
        font-weight: bold;
        font-size: large;
        margin-bottom: 10px;
    }

    input[type=text]{
        color: $brandBlack;
        background-color: white;
    }

    button{
        border-radius: 5rem;
        font-size: 1rem;
        font-weight: bold;
        width: 100px;
        color: $brandBlack;
        background-color: $brandRed;
        margin-right: 10px;
        margin-top: 40px;
    }

    button:hover{
        color: $brandYellow;
        @media only screen and (max-width: $tabletSize){
            color: $brandBlack;
        }
    }

    .btn{
        border-radius: 5rem;
        font-size: 1rem;
        font-weight: bold;
        width: 100px;
        color: $brandRed;
        margin-right: 30px;
        margin-top: 40px;
    }

}


.reload-btn{
    margin-left: $inputBoxSpace;

    .bi-arrow-repeat{
        color: $brandRed;
        font-size: 30px;
    }
}

table, th, td {
    padding: 10px;
    border: 2px ridge $brandBlack;
    text-align: center;
}
table{
    margin-left: $inputBoxSpace;
    margin-right: $inputBoxSpace;
}
th{
	background-color: $brandRed;
	color: white;
    font-weight: bold;
    font-size: 20px;
}
tr:nth-child(even){
	background-color: rgba(168, 75, 93, 0.2);
}
tr:hover{
	background-color: rgba(168, 75, 93, 0.7);
    color: white;
}
td{
    font-size: 15px;
}


.food-id{
    padding-left: 3rem;
    padding-right: 3rem;
}
.food-name{
    text-transform: capitalize;
    padding-left: 15rem;
    padding-right: 15rem;
}
.category{
    padding-top: 20px;
}
.food-category{
    text-transform: capitalize;
    border-radius: $box-radius;
    background-color: $brandRed;
    padding: 0.2rem 0.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
}
.breakfast{
    background-color: $color-breakfast;
}
.brunch{
    background-color: $color-brunch;
}
.lunch{
    background-color: $color-lunch;
}
.fruit{
    background-color: $color-fruit;
}

.food-cost{
    text-align: right;
    padding-left: 30rem;
}

.bi-trash{
    color: $brandRed;
}
.bi-trash:hover{
    color: $brandYellow;
}