<form class="form-grid" (submit)="filterFoodByName()">
    <!-- Filter name -->
    <div class="gid-item">
        <label for="filterName">Food name</label>
        <input [(ngModel)]="filterName" type="text" id="filterName" name="filterName" placeholder="Search by food name..." class="form-control">
    </div>

    <!-- Filter category -->
    <div class="gid-item">
        <input type="checkbox" class="btn-check" id="breakfast" value="breakfast" autocomplete="off">
        <label class="btn btn-outline-warning" for="breakfast">Breakfast</label>

        <input type="checkbox" class="btn-check" id="brunch" value="brunch" autocomplete="off">
        <label class="btn btn-outline-warning" for="brunch">Brunch</label>

        <input type="checkbox" class="btn-check" id="lunch" value="lunch" autocomplete="off">
        <label class="btn btn-outline-warning" for="lunch">Lunch</label>

        <input type="checkbox" class="btn-check" id="fruit" value="fruit" autocomplete="off">
        <label class="btn btn-outline-warning" for="fruit">Fruit</label>
    </div>

    <!-- Buttons -->
    <div class="gid-item">
        <button type="submit">Filter</button>
        <button type="reset">Clear Form</button>
    </div>
</form>

<div class="grid-container">
    <!-- Table headers -->
    <div class="grid-item table-head">ID</div>
    <div class="grid-item table-head">Name</div>
    <div class="grid-item table-head">Category</div>
    <div class="grid-item table-head">Cost (₦)</div>
</div>

<div class="grid-container" *ngFor="let food of tableData; let i = index">
    <!-- Table data -->
    <div class="grid-item table-data">{{ i+1 }}</div>
    <div class="grid-item table-data">{{ food.name }}</div>
    <div class="grid-item table-data">{{ food.category }}</div>
    <div class="grid-item table-data food-cost">{{ food.cost }}</div>
</div>


