<form class="form-grid" (submit)="filterFoodByName()">
    <!-- Filter name -->
    <div class="gid-item">
        <label for="filterName">Food name</label>
        <input [(ngModel)]="filterName" type="text" id="filterName" name="filterName" placeholder="Search by food name..." class="form-control">
    </div>

    <!-- Filter category -->
    <div class="gid-item">
        <input type="checkbox" class="btn-check" id="breakfast" value="breakfast" autocomplete="off">
        <label class="btn btn-outline-warning" for="breakfast">Breakfast</label>

        <input type="checkbox" class="btn-check" id="brunch" value="brunch" autocomplete="off">
        <label class="btn btn-outline-warning" for="brunch">Brunch</label>

        <input type="checkbox" class="btn-check" id="lunch" value="lunch" autocomplete="off">
        <label class="btn btn-outline-warning" for="lunch">Lunch</label>

        <input type="checkbox" class="btn-check" id="fruit" value="fruit" autocomplete="off">
        <label class="btn btn-outline-warning" for="fruit">Fruit</label>
    </div>

    <!-- Buttons -->
    <div class="gid-item">
        <button type="submit">Filter</button>
        <button type="reset">Clear Form</button>
    </div>
</form>

<div class="reload-btn">
    <!-- Reload button -->
    <i class="bi bi-arrow-repeat" (click)="reloadTable()"></i>
</div>

<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Cost (₦)</th>
        <th>Delete</th>
    </thead>

    <tbody>
        <tr *ngFor="let food of tableData; let i = index">
            <td class="food-id">{{ i+1 }}</td>
            <td class="food-name">{{ food.name }}</td>
            <td class="category"><p class="food-category" [class]=[food.category]>{{ food.category }}</p></td>
            <td class="food-cost">{{ food.cost }}</td>
            <td> <i class="bi bi-trash" (click)="deleteFood(food.name)"></i></td>
        </tr>
    </tbody>
</table>


